h1 {
color: white;
background-color: red;
text-align: center;
}
.header {
    background-color:black;
    color: yellow;
    text-align: center;
}

hr {
    background-color: yellow;
    height: 10px

}

.About {
    background-color: black;
    color: white
}

.Projects {
    background-color: red;
    color: white;
}

.Contact {
    background-color: blue;
    color: red
}

.Info {
    background: red;
    color: white
}